anyio
click
fastapi
faker
graphql-core
geoalchemy2
h11
httptools
httpx
idna
pandas
psycopg2-binary
pydantic
pydantic-settings
python-dateutil
pytest
python-decouple
python-dotenv
python-multipart
PyYAML
scikit-learn
six
sniffio
SQLAlchemy
starlette
ariadne
testcontainers[postgresql]
typing_extensions
uvicorn
uvloop
requests
respx
watchfiles
websockets

