alembic
anyio
click
fastapi
graphql-core
h11
httptools
httpx
idna
passlib
psycopg2-binary
pydantic
pydantic[email]
pydantic-settings
pytest
python-dateutil
python-decouple
python-dotenv
python-multipart
PyJWT
PyYAML
six
sniffio
SQLAlchemy
starlette
ariadne
typing_extensions
uvicorn
uvloop
requests
watchfiles
websockets
python-jose
passlib[bcrypt]
starlette

