anyio
pytest-asyncio
click
celery
fastapi
graphql-core
h11
httptools
httpx
idna
psycopg2-binary
pydantic
pydantic-settings
pytest
python-dateutil
python-decouple
python-dotenv
python-multipart
PyYAML
six
sniffio
SQLAlchemy
starlette
ariadne
typing_extensions
uvicorn
uvloop
requests
redis
watchfiles
websockets

